extends ../layout	
block content
  h1 
    span.mr-3 User
    
  form.ml-45(class="d-flex", action="/users/search", method="GET")
    input(class="form-control me-2", type="search", placeholder="Search", aria-label="Search", name="q")
    button(class="btn btn-outline-success" type="submit") Search

  table.table
    tr
      th Name
      th Phone
      th Email
      th Action
    	
    each user in users
      tr
        td= user.name
        td= user.phone
        td= user.email
        td
          a.btn.btn-light(href='/users/view/' + user.id) view 